body {
	background: url("tech-trivia.jpg") no-repeat center 200px fixed;
	background-color: #00C6D4;
	font-family: 'Ubuntu', sans-serif;	font-size: 22px;
}

h1 {
	text-align: center;
	font-size: 44px;
}

#title {
	text-decoration: underline;
	font-family: 'Ubuntu', sans-serif;
	color: #00C6D4;
	margin: 80px auto -20px;
}

#quiz {
	text-indent: 10px;
	display: none;
}

.button {
	border: 2px solid;
	border-radius: 2px;
	width: 40px;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	float: right;
	background-color: #DCDCDC;
	color: black;
	margin: 0 2px 0 2px;
}

.button.active {
	background-color: #F8F8FF;
	color: #525252;
}

button {
	position: relative;
	float: right;
}

.button a {
	text-decoration: none;
	color: black;
}

#container {
	width: 50%;
	min-height: 350px;
	margin: auto;
	padding: 20px 10px 20px 10px;
	background-color: #CCFFFF;
	border: 4px solid #B0E0E6;
	border-radius: 5px;
	color: #000000;
	font-weight: bold;
	box-shadow: 10px 10px 10px #888;
}

#prev {
	display: none;
}

#start {
	display: none;
	width: 90px;
}

.answerButton {
	cursor: pointer;
}

#score {
	font-size: 16px;
	font: Lucida;
	width: 100%;
	margin: 0 auto;
	/*padding: 20px;*/
	/*margin: 30px 150px 0;*/
}

#player1score {
	display: inline-block;
	position: relative;
	text-align: center;
	margin-top: 10px;
	width: 250px;
	float: left;
	padding: 5px;
	/*padding: 20px;*/
	/*margin: 30px 150px 0;*/
}

#player2score {
	display: inline-block;
	position: relative;
	text-align: center;
	margin-top: 10px;
	width: 250px;
	float: right;
	padding: 5px;
	/*padding: 20px;*/
	/*margin: 30px 150px 0;*/
}

.currentTurn {
	border: solid 3px #00C6D4;
}

#resetBtn {
	position: relative;
	margin-top: 145px;
	right: 10px;
	text-align: center;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	width: 150px;
}


